<table class='table'>
  <% posts.each do |post| %>
    <tr>
      <td>
        <%= link_to user_path do %>
          <%= image_tag post.user.get_image(100,100) %>
        <% end %>
      </td>
      <td>
        <%= link_to posts_travel_post_path do %>
          <%= post.title %>
        <% end %>
      </td>
      <!--<td>いいね</td>-->
      <td>コメント数:<%= post.post_comments.count %> </td>
    </tr>
  <% end %>
</table>

