<table class='table'>
  <% posts.each do |post| %>
    <tr>
      <td><%= post.created_at.strftime('%Y年%m月%d日') %></td>
      <td>
        <%= form_with url: posts_travel_post_path, method: :get do |f| %>
          <%= f.hidden_field :id, value: post.id %>
          <%= f.submit post.title, class:"button-link" %>
        <% end %>
      </td>
      <td>
        <% if post.favorited_by?(current_user) %>
          <%= link_to favorites_path(post), method: :delete do %>
            ♥<%= post.favorites.count %> いいね
          <% end %>
        <% else %>
          <%= link_to favorites_path(post), method: :post do %>
            ♥<%= post.favorites.count %> いいね
          <% end %>
        <% end %>
      </td>
      <td>コメント数:<%= post.post_comments.count %> </td>
    </tr>
  <% end %>
</table>
