<div class='container'>
  <div class='row'>
    <div class='col-md-3 mt-4'>
      <%= render 'layouts/genre', spot_genres: @spot_genres %>
    </div>
    <div class='col-md-9'>
      <div class='row py-md-3'>
        <h2>
          <%= link_to @post.user.name, user_path(id: @user.id) %>さんの旅の詳細
        </h2>
      </div>

      <div class="card">
        <div class="card-header">
          <div class="title">
            <h4><%= @post.title %></h4>
          </div>
          <div class="date text-right">
            <small><%= @post.created_at.strftime('%Y年%m月%d日') %></small>
          </div>
        </div>

        <%= image_tag @post.get_image(500,500), class: 'img-fluid' %>

        <div class="card-body">
          <%= simple_format(@post.post_text) %>
        </div>

        <div class="card-footer">
          <div class="row">
            <div class="col-md-6" id="favorite_buttons_<%= @post.id %>">
              <%= render "public/favorites/favorite", post: @post %>
            </div>
            <div class="col-md-6 text-right">
              <% if @post.user == current_user %>
                <%= link_to "投稿を削除", post_path(@post), method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-danger"%>
              <% end %>
            </div>
          </div>
        </div>
      </div>

      <h5 class="mt-5">コメント一覧</h5>
      <div class="mb-3">
        <small class="text-black-50">コメント件数:<%= @post.post_comments.count %></small>
      </div>

      <% @post.post_comments.each do |post_comment| %>
        <div class="card mb-3">
          <div class="card-header">
            <div class="row">
              <div class="col-md-6">
                <%= image_tag post_comment.user.get_image(50,50), class: 'd-block mb-2' %>
                <%= post_comment.user.name %>
              </div>
              <div class="col-md-6 d-flex align-items-end justify-content-end">
                <small><%= post_comment.created_at.strftime('%Y/%m/%d') %></small>
              </div>
            </div>
          </div>
          <div class="card-body">
            <%= simple_format(post_comment.post_comment) %>
          </div>
          <% if post_comment.user == current_user %>
            <div class="card-footer text-right">
              <%= link_to "コメントを削除", post_post_comment_path(post_comment.post, post_comment), method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-danger" %>
            </div>
          <% end %>
        </div>
      <% end %>




      <div class='row pt-md-3'>
        <div class='col-12 col-md-9 mx-auto'>
        <% if user_signed_in? && @user.id == current_user.id && @user.name != "guestuser" %>
          <%= form_with model: @post_comment, url: post_post_comments_path(post_id: @post), method: :post do |f| %>
            <%= f.text_area :post_comment, rows: '3', class: 'form-control' %>

            <div class="row my-3">
              <div class="col-md-4 mx-auto">
                <%= f.submit "送信する", class: 'btn btn-primary btn-block'%>
              </div>
            </div>

          <% end %>
        <% end %>
        </div>
      </div>
    </div>
  </div>
</div>