<div class='container'>
  <div class='row justify-content-center'>
    <div class="col-md-6 px-5 px-sm-0">
     <div class='card mt-md-4'>
        <div class='card-header text-center bg-primary'>
          <h2 class="text-white">管理者ログイン画面</h2>
        </div>
        <div class='card-body'>
          <%= form_with model: @admin, url: admin_session_path,  class: 'log in_admin', local: true do |f| %>
            <div class="form-group">
              <%= f.label :メールアドレス, class: "form-label" %><br />
              <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
            </div>
            <div class="form-group">
              <%= f.label :パスワード, class: "form-label" %><br />
              <%= f.password_field :password, autocomplete: "current-password", class: "form-control" %>
            </div>
            <div class="form-group text-center">
              <%= f.submit "ログイン", class: "btn btn-primary btn-lg" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
