<table class='table table-hover table-inverse'>
  <thead>
    <tr>
      <th>名前</th>
      <th>タイトル</th>
    </tr>
  </thead>
  <tbody>
    <h2>検索結果</h2>
    <% @posts.each do |post| %>
      <tr>
        <td>
          <% if admin_signed_in? %>
            <%= link_to admin_user_path(id: post.user.id) do %>
              <%= post.user.name %>
            <% end %>
          <% else %>
            <%= link_to user_path(id: post.user.id) do %>
              <%= post.user.name %>
            <% end %>
          <% end %>
        </td>
        <td>
          <% if admin_signed_in? %>
            <%= link_to post.title, admin_posts_show_path(id: post.id) %>
          <% else %>
            <%= link_to post.title, posts_travel_post_path(post.id) %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

