<div class='container'>
  <div class='row'>
     <div class='col-md-12'>
       <h2>ジャンル編集</h2>
       <div class='row'>
       <%= form_with model: @spot_genre, url:admin_spot_genre_path, method: :patch do |f| %>
         <td><%= f.label :spot_genre_name,"ジャンル名", class: "mr-3" %></td>
         <td><%= f.text_field :spot_genre, class: "mr-5" %></td>
         <td><%= f.submit "変更を保存", class: "btn btn-primary" %></td>
       <% end %>
       <%= form_with model: @spot_genre, url:admin_spot_genre_path, method: :delete do |f| %>
         <td><p class='pl-md-3'><%= f.submit "削除", class: 'btn btn-danger' %></p></td>
       <% end %>
       </div>
     </div>
  </div>
</div>