<main>
  <div class='container'>
    <div class='row'>
      <div class='col-md-12'>
        <h1 class='text-center my-md-4'>
          Hey-Travelへようこそ<br>
          新規登録をして旅行を始めよう<br>
        </h1>
        <h2 class='text-center mt-md-3'>
          登録を迷っている方は是非<%= link_to "こちら", home_about_path %>でHey-Travelがどんなサイトなのか<br>
          ご覧ください！
        </h2>
        <div class="text-center">
          <%= image_tag 'top_image2.jpeg', size: '700x400' %>
        </div>
        <div class='btn-wrapper col-md-3 mx-auto'>
          <div class='row'>
            <%= link_to "ゲストログイン（閲覧用）", users_guset_sgin_in_path, class: "btn btn-secondary btn-lg btn-block sign_in", method: :post %>
          </div>
          <div class='row my-md-3'>
            <%= link_to "新規登録", new_user_registration_path,class: "btn btn-success btn-lg btn-block sign_up" %>
          </div>
          <div class='row'>
            <%= link_to "ログイン", new_user_session_path,class: "btn btn-info btn-lg btn-block sign_in" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>