<div class='container'>
  <div><%= flash[:notice] %></div>
  <div class='row justify-content-center'>
    <div class="col-md-6">
     <div class='card mt-md-4'>
        <div class='card-header text-center bg-secondary'>
          <h2 class="text-white">会員ログイン画面</h2>
        </div>
        <div class='card-body'>
          <%= form_with model: @user, url: user_session_path,  class: 'log in_user', local: true do |f| %>
            <div class="form-group">
              <%= f.label :メールアドレス, class: "form-label" %><br />
              <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
            </div>
            <div class="form-group">
              <%= f.label :パスワード, class: "form-label" %><br />
              <%= f.password_field :password, autocomplete: "current-password", class: "form-control" %>
            </div>
            <div class="form-group text-center">
              <%= f.submit "ログイン", class: "btn btn-secondary btn-lg" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
