<table class='table'>
  <thead>
    <% if user.present? %>
      <tr>
        <th style="height: 140px"><%= image_tag user.get_image(100,100) %></th>
      </tr>
      <tr>
        <td>name</td>
        <td><%= user.name %></td>
      </tr>
      <tr>
        <td>introduction</td>
        <td><%= user.introduction %></td>
      </tr>
    <% end %>

    <tr>
      <% if user_signed_in? && user.id == current_user.id && user.name != "guestuser" %>
        <td>
          <%= link_to "会員情報を編集する", edit_user_path, class: "btn btn-outline-secondary btn-block" %>
        </td>
        <td>
          <%= link_to "いいね一覧", user_favorites_path(current_user), class: "btn btn-outline-secondary btn-block" %>
        </td>
      <% end %>
    </tr>
  </thead>
</table>