<table class='table'>
  <thead>
    <tr>
      <th style="height: 140px"><%= image_tag user.get_image(100,100) %></th>
    </tr>
    <tr>
      <td>name</td>
      <td><%= user.name %></td>
    </tr>
    <tr>
      <!--これ必要なければ消しても良い-->
      <td>introduction</td>
      <td><%= user.introduction %></td>
    </tr>
    <tr>
      <th>
        <% if user.id == current_user.id && user.name != "guestuser" %>
          <%= link_to "編集", edit_user_path, class: "btn btn-outline-secondary btn-block" %>
        <% end %>
        <% if user.name != "guestuser" %>
          <div class='row'>
            <%= link_to '',edit_user_path,class: "btn btn-outline-secondary btn-block edit_user_#{user.id}" %>
          </div>
        <% end %>
      </th>
    </tr>
  </thead>
</table>