<table class='table'>
  <thead>
    <tr>
      <th style="height: 140px"><%= image_tag user.get_image(100,100) %></th>
    </tr>
    <tr>
      <td>name</td>
      <td><%= user.name %></td>
    </tr>
    <tr>
      <!--これ必要なければ消しても良い-->
      <td>introduction</td>
      <td><%= user.introduction %></td>
    </tr>
    <tr>
      <td>
        <% if user.id == current_user.id && user.name != "guestuser" %>
          <%= link_to "プロフィールを編集する", edit_user_path, class: "btn btn-outline-secondary btn-block" %>
        <% end %>
      </td>
      <td>
        <%= link_to "いいね一覧", user_favorites_path(current_user), class: "btn btn-outline-secondary btn-block" %>
      </td>
    </tr>
  </thead>
</table>