<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-info md-md-4">
    <div class="container mt-3">
      <a class="navbar-brand" href="/">
        <span>
          <%= link_to root_path do %>
            <i class="fas fa-plane-departure"></i>
          <% end %>
        </span>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">

          <% if admin_signed_in? %>
            <li>
              <%= link_to admin_users_path, class: 'nav-link text-light' do %>
                <p>会員一覧</p>
              <% end %>
            </li>
            <li>
              <%= link_to admin_homes_top_path, class: 'nav-link text-light' do %>
                <p>投稿一覧</p>
              <% end %>
            </li>
            <li>
              <%= link_to destroy_admin_session_path, method: :delete, class: 'nav-link text-light' do %>
                <p>ログアウト</p>
              <% end %>
            </li>
          <% elsif user_signed_in? %>
            <li>
              <%= link_to mypage_path, class: 'nav-link text-light' do %>
                <i class="fas fa-user"></i> マイページ
              <% end %>
            </li>
            <li>
              <%= link_to new_post_path, class: 'nav-link text-light' do %>
                <i class="fas fa-new-post"></i> 投稿する
              <% end %>
            </li>
            <li>
              <%= link_to posts_path, class: 'nav-link text-light' do %>
                <i class="fas fa-posts"></i> 投稿一覧
              <% end %>
            </li>
            <li>
              <%= link_to destroy_user_session_path, method: :delete, class: 'nav-link text-light' do %>
                <i class="fas fa-sign-out-alt"></i> ログアウト
              <% end %>
            </li>
          <% else %>
            <li>
              <%= link_to home_about_path, class: 'nav-link text-light' do %>
                <i class="fas fa-link"></i> Hey-Travelとは
              <% end %>
            </li>
            <li>
              <%= link_to new_user_registration_path, class: 'nav-link text-light' do %>
                <i class="fas fa-user-plus"></i> 新規登録
              <% end %>
            </li>
            <li>
              <%= link_to new_user_session_path, class: 'nav-link text-light' do %>
                 ログイン
              <% end %>
            </li>
          <% end %>
        </ul>
        <!--検索機能-->
      </div>
    </div>
  </nav>
</header>